/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

// Стили из подключенных паршалов
@import './form.scss';
@import './gallery.scss'


